store:
  tmp: <%= Rails.root.join("tmp/snapshots").to_s %>
  local: <%= Rails.root.join("db/snapshots").to_s %>

s3:
  access_key_id: 'key'
  secret_access_key: 'key'
  bucket: 'bucket'
  region: 'region'
  paths:
    named_snapshots: 'custom_snapshots'
    snapshots: 'snapshots'

ssl_key: "/dir/to/snapshots-secret.key"

tables:
- "example_table"
